examples/Mycroft_Feed
[{"id":"37fc68d1.a9c958","type":"feedparse","z":"6271840e.1e5f2c","name":"","url":"https://mycroft.ai/feed/","interval":"1","x":468,"y":275,"wires":[["268cde93.47ca32"]]},{"id":"268cde93.47ca32","type":"change","z":"6271840e.1e5f2c","name":"","rules":[{"t":"move","p":"article.title","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":568,"y":416,"wires":[["7214ae13.4a584"]]},{"id":"b99583e.580da8","type":"heard","z":"6271840e.1e5f2c","phrases":"updates","x":784,"y":501,"wires":[["2e133166.f9407e"]]},{"id":"2e133166.f9407e","type":"say","z":"6271840e.1e5f2c","phrases":"","x":915,"y":527,"wires":[[]]},{"id":"7214ae13.4a584","type":"join","z":"6271840e.1e5f2c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":". ","timeout":"","count":"3","x":625,"y":543,"wires":[["b99583e.580da8"]]}]